Repository JOBIS-DEMU/DEMU_iOS, pull requests merged in 2024-11, with the labels that each got.

#100 Feature/#99 signup error
  Projects/Feature/Sources/Auth/Api/AuthAPI.swift
  Projects/Feature/Sources/Auth/SignUp/SignUpViewController.swift
  Projects/Feature/Sources/Auth/SignUp/SignUpViewModel.swift
  Projects/Feature/Sources/Networking/Service/AuthService.swift
Labels: FEAT, FIX

#102 Feature/#101 pwd vc api
  Projects/Feature/Sources/Auth/Api/AuthAPI.swift
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/PwdChangeViewController/PwdViewController.swift
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/PwdChangeViewController/PwdViewModel.swift
  Projects/Feature/Sources/Networking/Service/AuthService.swift
Labels: FEAT

#104 Feature/#103 emailsend api
  Projects/Feature/Sources/Auth/Api/AuthAPI.swift
  Projects/Feature/Sources/Auth/PassWordChange/EmailSendViewController.swift
  Projects/Feature/Sources/Auth/PassWordChange/ViewModel/EmailSendViewModel.swift
  Projects/Feature/Sources/Networking/Service/AuthService.swift
  Projects/Modules/DesignSystem/Sources/Component/TextField/DMTextFieldView.swift
Labels: CHORE, FEAT

#108 Feature/#107 blog vc signup vc
  Projects/App/Sources/SceneDelegate.swift
  Projects/Feature/Sources/Auth/SignUp/SignUpViewController.swift
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewController.swift
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewModel.swift
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Model/PostModel.swift
  Projects/Feature/Sources/Networking/Service/PostService.swift
Labels: CHORE, FEAT

#110 Feature/#109 post
  Projects/App/Sources/SceneDelegate.swift
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewController.swift
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewModel.swift
  Projects/Feature/Sources/Networking/Api/CommentAPI.swift
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Api/SearchAPI.swift
Labels: CHORE, FEAT

#112 Feature/#111 commentapi searchapi
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewController.swift
  Projects/Feature/Sources/Networking/Api/CommentAPI.swift
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Api/SearchAPI.swift
Labels: CHORE

#114 Feature/#113 recommend
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Service/PostService.swift
Labels: CHORE, FEAT

#116 ;Feature/#115 home view model
  Projects/Feature/Sources/Main/Home/HomeMain/HomeViewModel.swift
  Projects/Feature/Sources/Networking/Service/PostService.swift
Labels: CHORE, FEAT

#118 Feature/#117 search
  Projects/Feature/Sources/Main/Home/HomeMain/HomeViewModel.swift
  Projects/Feature/Sources/Main/Search/SearchCell.swift
  Projects/Feature/Sources/Main/Search/SearchViewController.swift
  Projects/Feature/Sources/Main/Search/SearchViewModel.swift
  Projects/Feature/Sources/Networking/Api/AuthAPI.swift
  Projects/Feature/Sources/Networking/Api/CommentAPI.swift
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Api/SearchAPI.swift
Labels: CHORE, FEAT

#120 Feature/#119 onboarding search vc
  Projects/Feature/Sources/Auth/Onboarding/OnboardingViewController.swift
  Projects/Feature/Sources/Auth/PassWordChange/ViewModel/EmailSendViewModel.swift
  Projects/Feature/Sources/Main/Home/HomeModal/HomeModalViewController.swift
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/PwdChangeViewController/PwdViewModel.swift
  Projects/Feature/Sources/Main/Search/SearchViewController.swift
  Projects/Feature/Sources/Networking/Service/PostService.swift
Labels: CHORE, FEAT

#122 Feature/#121 nicknamechange api
  Projects/App/Sources/SceneDelegate.swift
  Projects/Feature/Sources/Auth/Login/LoginViewModel.swift
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/NickNameChangeViewController/NickNameViewModel.swift
  Projects/Feature/Sources/Networking/Api/AuthAPI.swift
  Projects/Feature/Sources/Networking/Api/UserAPI.swift
  Projects/Feature/Sources/Networking/Model/UserModel.swift
  Projects/Feature/Sources/Networking/Service/UserService.swift
Labels: CHORE, FEAT

#124 Feature/#123 nickname api
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/NickNameChangeViewController/NickNameChangeViewController.swift
  Projects/Feature/Sources/Main/MyPage/MyPageMain/Setting/NickNameChangeViewController/NickNameViewModel.swift
Labels: CHORE, FEAT

#127 feat :: moremodal 삭제 및 post에 추가
  Projects/Feature/Sources/Main/Home/Post/PostModal/MoreCell.swift
  Projects/Feature/Sources/Main/Home/Post/PostModal/MoreViewController.swift
  Projects/Feature/Sources/Main/Home/Post/PostViewController.swift
Labels: CHORE, FEAT

#128 Feature/#125 nick
  Projects/Feature/Sources/Networking/Service/PostService.swift
  Projects/Feature/Sources/Networking/Service/UserService.swift
Labels: CHORE

#130 chore :: heart 누르면 hearLabel +1
  Projects/Feature/Sources/Main/Home/Post/PostViewController.swift
Labels: CHORE

#132 Feature/#131 blog vc post create
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewController.swift
  Projects/Feature/Sources/Main/Blog/BlogMain/BlogViewModel.swift
  Projects/Feature/Sources/Networking/Api/PostAPI.swift
  Projects/Feature/Sources/Networking/Service/PostService.swift
Labels: CHORE, FEAT

#134 chore :: 삭제 버튼
  Projects/Feature/Sources/Main/Home/Post/PostViewController.swift
  Projects/Modules/DesignSystem/Resources/Assets.xcassets/Images/DEMU_Mandoo.imageset/Contents.json
  Projects/Modules/DesignSystem/Resources/Assets.xcassets/Images/DEMU_Mandoo.imageset/Pmanchu_Mandoo.svg
  Projects/Modules/DesignSystem/Sources/Extension/Image/UIImage+.swift
Labels: CHORE
